name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rust-lang/rustup@v1
      - run: cargo check --no-std
      - run: cargo test
      - run: cargo bench
